<div class="page-inner">
  <div class="row">
    <div class="col text-end">
      <!-- setting drp -->
      <button class="btn btn-outline-success ms-1">
        <i class="fa-solid fa-gear"></i>
      </button>

      <!-- show drop -->
      <button class="btn btn-outline-dark ms-1">
        <i class="fa-solid fa-tv"></i>
      </button>
    </div>
  </div>
  <table id="example" class="table table-striped" style="width: 100%">
    <thead>
      <tr>
        <th colspan="2">
          <div class="form-floating form-floating-custom mb-3">
            <select
              class="form-select text-center"
              id="selectFloatingLabel"
              (change)="onSelectChangeLimit($event)"
              required
            >
              <option [value]="5">5</option>
              <option [value]="10">10</option>
              <option [value]="25">25</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
              <option [value]="150">150</option>
            </select>
            <label for="selectFloatingLabel">Number Entries</label>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th></th>
        <th>Campaign Name</th>
        <th>Time</th>
        <th>Mailer</th>
        <th>Isp</th>
        <th>Affiliate Network</th>
        <th>Offer</th>
        <th>Total</th>
        <th>Opens</th>
        <th>Clicks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <!-- id -->
          <input
            class="form-control"
            type="text"
            placeholder="Campaign Name"
            aria-label="default input example"
            (keydown.enter)="onEnterPressCampaignName($event)"
          />
        </td>
        <td></td>
        <td>
          <!-- mailer -->
          <input
            class="form-control"
            type="text"
            placeholder="Mailer"
            aria-label="default input example"
            (keydown.enter)="onEnterPressMailer($event)"
          />
        </td>
        <td>
          <!-- ISP -->
          <select
            class="form-select"
            aria-label="Default select example"
            (change)="onSelectChangeIsp($event)"
          >
            <option *ngFor="let isp of ispList" [value]="isp">{{ isp }}</option>
          </select>
        </td>
        <td>
          <!-- offer -->
          <input
            class="form-control"
            type="text"
            placeholder="Affiliate Network"
            aria-label="default input example"
            (keydown.enter)="onEnterPressAffiliateNetwork($event)"
          />
        </td>
        <td>
          <!-- offer -->
          <input
            class="form-control"
            type="text"
            placeholder="Offer"
            aria-label="default input example"
            (keydown.enter)="onEnterPressOffer($event)"
          />
        </td>

        <td>
          <!-- Total -->
          <input
            class="form-control"
            type="text"
            placeholder="Total"
            aria-label="default input example"
          />
        </td>

        <td>
          <!-- Opens -->
          <input
            class="form-control"
            type="text"
            placeholder="Opens"
            aria-label="default input example"
            (keydown.enter)="onEnterPressOpens($event)"
          />
        </td>
        <td>
          <!-- Clicks -->
          <input
            class="form-control"
            type="text"
            placeholder="Clicks"
            aria-label="default input example"
            (keydown.enter)="onEnterPressClicks($event)"
          />
        </td>
      </tr>
      <tr *ngFor="let test of tests">
        <td>
          <input
            type="checkbox"
            class="btn-check"
            id="btn-check-outlined"
            autocomplete="off"
          />
          <label class="btn btn-outline-info" for="btn-check-outlined"
            ><i class="fa-solid fa-check"></i>
          </label>
        </td>
        <td>{{ test.campaignName }}</td>
        <td>{{ test.time | date : "short" }}</td>
        <td>{{ test.mailer }}</td>
        <td>{{ test.isp }}</td>
        <td>{{ test.affiliate_network }}</td>
        <td>{{ test.offer }}</td>
        <td>{{ test.total }}</td>
        <td>{{ test.opens }}</td>
        <td>{{ test.clicks }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          Showing {{ page }} to {{ totalPages }} of {{ totalTests }} entries
        </td>
        <td></td>
        <th></th>
        <th></th>
        <th></th>

        <th colspan="3">
          <!-- pagination -->
          <div style="display: flex">
            <button class="btn btn-outline-secondary" (click)="prevPage()">
              prev
            </button>
            <input
              class="form-control text-center ms-4 me-4 w-25"
              type="text"
              value="1"
              aria-label="readonly input example"
              [(ngModel)]="page"
              (keydown.enter)="onEnterPressPage($event)"
            />

            <button class="btn btn-outline-secondary" (click)="nextPage()">
              next
            </button>
          </div>
          <!-- end pagination -->
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tfoot>
      <tr>
        <th></th>
        <th>Campaign Name</th>
        <th>Time</th>
        <th>Mailer</th>
        <th>Isp</th>
        <th>Affiliate Network</th>
        <th>Offer</th>
        <th>Total</th>
        <th>Opens</th>
        <th>Clicks</th>
      </tr>
    </tfoot>
  </table>
</div>
