<div class="page-inner">
  <div class="row">
    <div class="col text-end">
      <!-- setting drp -->
      <button class="btn btn-outline-success ms-1">
        <i class="fa-solid fa-gear"></i>
      </button>

      <!-- show drop -->
      <button class="btn btn-outline-dark ms-1">
        <i class="fa-solid fa-tv"></i>
      </button>
    </div>
  </div>
  <table id="example" class="table table-striped" style="width: 100%">
    <thead>
      <tr>
        <th colspan="2">
          <div class="form-floating form-floating-custom mb-3">
            <select
              class="form-select text-center"
              id="selectFloatingLabel"
              required
            >
              <option selected>10</option>
              <option>25</option>
              <option>50</option>
              <option>100</option>
            </select>
            <label for="selectFloatingLabel">Number Entries</label>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Mailer</th>
        <th>Isp</th>
        <th>Offer</th>
        <th>Lists</th>
        <th>Status</th>
        <th>Start</th>
        <th>Total</th>
        <th>Progress</th>
        <th>Delivered</th>
        <th>Bounced</th>
        <th>Opens</th>
        <th>Clicks</th>
        <th>Leads</th>
        <th>Unsubs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <!-- id -->
          <input
            class="form-control"
            type="text"
            placeholder="ID"
            aria-label="default input example"
          />
        </td>
        <td>01/01/2001</td>
        <td>01/01/2001</td>
        <td>
          <!-- mailer -->
          <input
            class="form-control"
            type="text"
            placeholder="Mailer"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- ISP -->
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">RR</option>
            <option value="2">GMAIL</option>
            <option value="3">YAHOO</option>
          </select>
        </td>
        <td>
          <!-- offer -->
          <input
            class="form-control"
            type="text"
            placeholder="Offer"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- List -->
          <input
            class="form-control"
            type="text"
            placeholder="List"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- status -->
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Delivered</option>
            <option value="2">Error</option>
            <option value="3">Pause</option>
            <option value="3">Stop</option>
          </select>
        </td>
        <td>
          <!-- Start -->
          <input
            class="form-control"
            type="text"
            placeholder="Start"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Total -->
          <input
            class="form-control"
            type="text"
            placeholder="Total"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Progress -->
          <input
            class="form-control"
            type="text"
            placeholder="Progress"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Delivered -->
          <input
            class="form-control"
            type="text"
            placeholder="Progress"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Bounced -->
          <input
            class="form-control"
            type="text"
            placeholder="Bounced"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Opens -->
          <input
            class="form-control"
            type="text"
            placeholder="Opens"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Clicks -->
          <input
            class="form-control"
            type="text"
            placeholder="Clicks"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Leads -->
          <input
            class="form-control"
            type="text"
            placeholder="Leads"
            aria-label="default input example"
          />
        </td>
        <td>
          <!-- Unsubs -->
          <input
            class="form-control"
            type="text"
            placeholder="Unsubs"
            aria-label="default input example"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="checkbox"
            class="btn-check"
            id="btn-check-outlined"
            autocomplete="off"
          />
          <label class="btn btn-outline-info" for="btn-check-outlined"
            ><i class="fa-solid fa-check"></i>
          </label>
        </td>
        <td>102</td>
        <td>01/01/2001</td>
        <td>01/01/2001</td>
        <td>San Francisco</td>
        <td>RR</td>
        <td>101</td>
        <td>rr-1</td>
        <td>Delivered</td>
        <td>0</td>
        <td>20000</td>
        <td>20000</td>
        <td>20000</td>
        <td>0</td>
        <td>500</td>
        <td>100</td>
        <td>5</td>
        <td>30</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Showing 1 to 10 of 57 entries</td>
        <td></td>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="3">
          <!-- Pagination -->
          <div class="card-body">
            <div class="demo">
              <ul class="pagination pg-primary">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--  -->
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tfoot>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Mailer</th>
        <th>Isp</th>
        <th>Offer</th>
        <th>Lists</th>
        <th>Status</th>
        <th>Start</th>
        <th>Total</th>
        <th>Progress</th>
        <th>Delivered</th>
        <th>Bounced</th>
        <th>Opens</th>
        <th>Clicks</th>
        <th>Leads</th>
        <th>Unsubs</th>
      </tr>
    </tfoot>
  </table>
</div>
