<div class="page-inner">
  <!-- row 1: Data Provider,ISP,Countries -->
  <div class="row">
    <div class="col">
      <!-- Data Provider  -->
      <div class="form-group">
        <label for="selectDataProvider">Data Provider</label>
        <select
          class="form-select form-control"
          id="selectDataProvider"
          [disabled]="disableInput"
        >
          <option>Berline</option>
          <option>Tokyo</option>
        </select>
      </div>
      <!--  -->
    </div>
    <div class="col">
      <!-- ISP  -->
      <div class="form-group">
        <label for="selectISP">ISP</label>
        <select class="form-select form-control" id="selectISP">
          <option>RR</option>
          <option>CHARTER</option>
          <option>YAHOO</option>
          <option>GMAIL</option>
          <option>OUTLOOK</option>
        </select>
      </div>
      <!--  -->
    </div>
    <div class="col">
      <!-- Data Country  -->
      <div class="form-group">
        <label for="selectCountries">Countries</label>
        <select
          class="form-select form-control"
          id="selectCountries"
          [disabled]="disableInput"
        >
          <option>United States</option>
          <option>Canada</option>
          <option>United Kingdom</option>
          <option>France</option>
          <option>Germany</option>
          <option>Australia</option>
          <option>India</option>
          <option>China</option>
          <option>Japan</option>
          <option>Brazil</option>
        </select>
      </div>
      <!--  -->
    </div>
  </div>
  <!-- row 2: Existing Lists (To Update),Initial Emails Type,File Type -->
  <div class="row">
    <div class="col">
      <!-- Existing Lists (To Update)-->
      <div class="form-group">
        <label for="selectExistingLists">Existing Lists (To Update)</label>
        <select class="form-select form-control" id="selectExistingLists">
          <option *ngFor="let data of allDataNames">{{ data }}</option>
        </select>
      </div>
      <!--  -->
    </div>
    <div class="col">
      <!-- Initial Emails Type -->
      <div class="form-group">
        <label for="selectInitialEmailsType">Initial Emails Type</label>
        <select
          class="form-select form-control"
          id="selectInitialEmailsType"
          [disabled]="disableInput"
        >
          <option>fresh</option>
          <option>clean</option>
          <option>opener</option>
          <option>clicker</option>
          <option>leader</option>
        </select>
      </div>
      <!--  -->
    </div>
    <div class="col">
      <!-- File Type    -->
      <div class="form-group">
        <label for="selectFileType">File Type</label>
        <select class="form-select form-control" id="selectFileType">
          <option>.txt</option>
          <option>.csv</option>
        </select>
      </div>
      <!--  -->
    </div>
    <div class="col">
      <!-- Data Type    -->
      <div class="form-group">
        <label for="selectDataType">Data Type</label>
        <select
          class="form-select form-control"
          id="selectDataType"
          (change)="dataTypeChange()"
        >
          <option>Recipients</option>
          <option>Senders</option>
        </select>
      </div>
      <!--  -->
    </div>
  </div>
  <!-- row 3 -->
  <div class="row">
    <div class="col">
      <!-- upload file -->
      <div class="mb-3">
        <label for="formFile" class="form-label">Add File</label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          (change)="onFileSelected($event)"
          accept=".txt"
          #fileInput
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <!-- Start uploading -->
      <button class="btn btn-outline-success" (click)="sendData(fileInput)">
        <i class="fa-solid fa-upload"></i> Start uploading
      </button>
    </div>
    <div class="col-1">
      <!-- Cancel button -->
      <button class="btn btn-outline-danger" (click)="cancel(fileInput)">
        <i class="fa-solid fa-xmark"></i> Cancel
      </button>
    </div>
  </div>
</div>

<div class="page-inner">
  <div class="row">
    <div class="col text-end">
      <!-- setting Suppression -->
      <button class="btn btn-outline-success ms-1">
        <i class="fa-solid fa-gear"></i>
      </button>

      <!-- show Suppression -->
      <button class="btn btn-outline-dark ms-1">
        <i class="fa-solid fa-tv"></i>
      </button>
    </div>
  </div>
  <table id="example" class="table table-striped" style="width: 100%">
    <thead>
      <tr>
        <th colspan="2">
          <div class="form-floating form-floating-custom mb-3">
            <select
              class="form-select text-center"
              id="selectFloatingLabel"
              (change)="onSelectChangeLimit($event)"
              required
            >
              <option [value]="5">5</option>
              <option [value]="10">10</option>
              <option [value]="25">25</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
              <option [value]="150">150</option>
            </select>
            <label for="selectFloatingLabel">Number Entries</label>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th></th>
        <th>Data Provider</th>
        <th>Name</th>
        <th>Total Count</th>
        <th>Updated At</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>

        <td>
          <!-- Affilate Network -->
          <input
            class="form-control"
            type="text"
            placeholder="Data Provider"
            aria-label="default input example"
            (keydown.enter)="onEnterPressDataProvider($event)"
          />
        </td>
        <td>
          <!-- Offer Name -->
          <input
            class="form-control"
            type="text"
            placeholder="Name"
            aria-label="default input example"
            (keydown.enter)="onEnterPressName($event)"
          />
        </td>

        <td>
          <!-- Emails Found	 -->
          <input
            class="form-control"
            type="text"
            placeholder="Emails Found	"
            aria-label="default input example"
            (keydown.enter)="onEnterPressTotalCount($event)"
          />
        </td>
        <td>
          <!-- 	Start Time -->
          <input
            class="form-control"
            type="text"
            placeholder="	Updated At"
            aria-label="default input example"
            (keydown.enter)="onEnterPressUpdateAt($event)"
          />
        </td>
        <td>
          <!-- Finish Time -->
          <input
            class="form-control"
            type="text"
            placeholder="Created Date"
            aria-label="default input example"
          />
        </td>
      </tr>
      <tr *ngFor="let key of getKeys(allData)">
        <td>
          <input
            type="checkbox"
            class="btn-check"
            id="btn-check-outlined"
            autocomplete="off"
          />
          <label class="btn btn-outline-info" for="btn-check-outlined"
            ><i class="fa-solid fa-check"></i>
          </label>
        </td>
        <td>{{ allData[key].DataProvider }}</td>
        <td>{{ allData[key].Name }}</td>
        <td>{{ allData[key].Total_Count }}</td>
        <td>{{ allData[key].Updated_At | date : "short" }}</td>
        <td>{{ allData[key].Created_Date | date : "short" }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          Showing {{ page }} to {{ totalPages }} of {{ totalData }} entries
        </td>
        <td></td>
        <th></th>

        <th colspan="3">
          <!-- pagination -->
          <div style="display: flex">
            <button class="btn btn-outline-secondary" (click)="prevPage()">
              prev
            </button>
            <input
              class="form-control text-center ms-4 me-4 w-25"
              type="text"
              value="1"
              aria-label="readonly input example"
              [(ngModel)]="page"
              (keydown.enter)="onEnterPressPage($event)"
            />

            <button class="btn btn-outline-secondary" (click)="nextPage()">
              next
            </button>
          </div>
          <!-- end pagination -->
        </th>
      </tr>
    </tfoot>
    <tfoot>
      <tr>
        <th></th>
        <th>Data Provider</th>
        <th>Name</th>
        <th>Total Count</th>
        <th>Updated At</th>
        <th>Created Date</th>
      </tr>
    </tfoot>
  </table>
</div>
