<div class="wrapper">
  <!-- Sidebar -->
  <ng-container *ngIf="loginService.isavailable">
    <app-sidebar></app-sidebar>

    <!-- End Sidebar -->

    <div class="main-panel">
      <!-- Navbar Header -->
      <app-navbar></app-navbar>
      <!-- End Navbar -->

      <div class="container">
        <router-outlet></router-outlet>

        <!-- Custom template | don't include it in your project! -->

        <!-- End Custom template -->
      </div>
      <!--   Core JS Files   -->

      <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    </div>
  </ng-container>
  <ng-container *ngIf="!loginService.isavailable">
    <app-login></app-login>
  </ng-container>
</div>
