<div
  class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
>
  <div>
    <h3 class="fw-bold mb-3">Dashboard</h3>
  </div>
  <div class="ms-md-auto py-2 py-md-0">
    <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
    <a href="#" class="btn btn-primary btn-round">Add User</a>
  </div>
</div>

<!-- -----------------------First Row------------------------------------------------ -->
<div class="row">
  <!-- -------------ACTIVE BOITES---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-primary card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-primary bubble-shadow-small">
              <i class="fa-solid fa-envelope"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">ACTIVE BOITES</p>
              <h4 class="card-title">1,294</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------ACTIVE AFFILIATE NETWORKS---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-info card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-info bubble-shadow-small">
              <i class="fa-brands fa-app-store-ios"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">ACTIVE AFFILIATE NETWORKS</p>
              <h4 class="card-title">1303</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------MONTHLY EARNING---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-success card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-success bubble-shadow-small">
              <i class="fas fa-luggage-cart"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">MONTHLY EARNING</p>
              <h4 class="card-title">$ 1,345</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------DAILY DROPS---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-secondary card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div
              class="icon-big text-center icon-secondary bubble-shadow-small"
            >
              <i class="far fa-check-circle"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">DAILY DROPS</p>
              <h4 class="card-title">576</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------SECOND Row----------------------------------------------------- -->
<div class="row">
  <!-- -------------DAILY SENT---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center bubble-shadow-small">
              <i class="fa-regular fa-paper-plane" style="color: #1788de"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">DAILY SENT</p>
              <h4 class="card-title">1,294</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------DAILY CLICK---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center bubble-shadow-small">
              <i
                class="fa-solid fa-clock-rotate-left"
                style="color: #74c0fc"
              ></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">DAILY CLICK</p>
              <h4 class="card-title">1303</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------DAILY EARNING---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center bubble-shadow-small">
              <i class="fa-solid fa-wallet" style="color: #63e6be"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">DAILY EARNING</p>
              <h4 class="card-title">$ 1,345</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------DAILY TEST---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center bubble-shadow-small">
              <i class="fa-solid fa-flask-vial" style="color: #b197fc"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">DAILY TEST</p>
              <h4 class="card-title">576</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- -------------DAILY DELIVERED---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-primary bubble-shadow-small">
              <i class="fa-solid fa-truck"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">DAILY DELIVERED</p>
              <h4 class="card-title">1,294</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------MONTHLY CLICK---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-info bubble-shadow-small">
              <i class="fa-solid fa-hand-pointer"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">MONTHLY CLICK</p>
              <h4 class="card-title">1303</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------Users---------------------- -->
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div
              class="icon-big text-center icon-secondary bubble-shadow-small"
            >
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-category">Users</p>
              <h4 class="card-title">10</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
